@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap');

:root {
    font-family: 'Quicksand', sans-serif;
    --shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: lightskyblue;
}

* {
    margin: 0;
}

#search-field input {
    font-size: larger;
}

#search-field input[type="text"] {
    width: 150px;
    outline: none;
}

.main-container {
    background-color: rgb(91, 92, 86);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    margin-top: 1rem;
}

.search-container {
    background-color: rgb(5, 58, 25);
    display: flex;
    flex-direction: column;
    align-items:left;
    text-align:left;
    gap: 1rem;
    padding: 1rem;
    margin-top: 1rem;
}

.city-info-container {
    background-color: brown;
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
    gap: 1rem;
    padding: 1rem;
    margin-top: 1rem;
}

.city-name {
    text-align: center;
    width: 100%;
}

.current-data-container {
    background-color: coral;
    display: flex;
    flex-direction: line;
    justify-content: space-between;
}

.main-current-data-container {
    background-color:darkseagreen;
    display: flex;
    flex-direction: column;
    align-items: left;
    min-width:200px;
    max-width: 300px;
}

#current-temp {
    font-size: 38px;
    font-weight: bold;
}

#current-weather-description {
    font-size: 18px;
    font-weight: bold;
}

.additional-current-data-container {
    align-self:flex-end;
    background-color:darkturquoise;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    min-width:200px;
    max-width: 400px;
}


#current-wind {
    font-size: 14px;
    font-weight: bold;
}

.forecasts-container {
    background-color: darkcyan;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    gap:20px;
    align-items: center;
    text-align: center;
    min-width:500px;
    max-width: 900px;
}

.daily-forecast {
    display: grid;
    grid-template-rows: repeat(3,1fr);
}

.daily-day {
    font-weight: bold;
}